/******** GLOBAL STYLES *************/
/************************************/
body {
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin:0;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

.accent-background {
  background-color:#ff4c68;
  color: #fff;
}

.white-background {
  background-color: #fff;
}

/****** TYPOGRAPHY ******/
h1, h2, h3 {
  margin-top: 0;
  font-weight: 900;
}

.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.text-highlight {
  font-size: 3rem;
  line-height: 1.5;
}

.section-title {
  font-size:1.5rem;
}

/*********** SECTIONS *************/
/**********************************/
/* Navigation */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight:400;
}


/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.hero-img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* MEDIA QUERY - TITLE SECTION */
@media (max-width: 1028px) {
  .hero-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* FEATURES SECTION */
#features {
  padding: 4% 15%;
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* TESTIMONIALS SECTION */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* PRESS SECTION */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 50px 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */

/* FOOTER SECTION  */
.social-icon {
  font-size: 1.25rem;
  margin: 20px 10px;
  color: #000;
}
